# Software Configuration File
# ---------------------------
# 
# You may edit this file when the VPN Server / Client / Bridge program is not running.
# 
# In prior to edit this file manually by your text editor,
# shutdown the VPN Server / Client / Bridge background service.
# Otherwise, all changes will be lost.
# 
declare root
{
	bool DontSavePassword false
	byte EncryptedPassword +WzqGYrR3VYXrAhKPZLGEHcIwO8=
	bool PasswordRemoteOnly false
	string UserAgent Mozilla/5.0$20(Windows$20NT$206.3;$20WOW64;$20rv:29.0)$20Gecko/20100101$20Firefox/29.0
	uint UseSecureDeviceId 0

	declare AccountDatabase
	{
	}
	declare ClientManagerSetting
	{
		bool EasyMode false
		bool LockMode false
	}
	declare CommonProxySetting
	{
		string CustomHttpHeader $
		string ProxyHostName $
		uint ProxyPort 0
		uint ProxyType 0
		string ProxyUsername $
	}
	declare Config
	{
		bool AllowRemoteConfig true
		uint64 AutoDeleteCheckDiskFreeSpaceMin 104857600
		string KeepConnectHost keepalive.softether.org
		uint KeepConnectInterval 50
		uint KeepConnectPort 80
		uint KeepConnectProtocol 1
		bool NoChangeWcmNetworkSettingOnWindows8 false
		bool UseKeepConnect false
	}
	declare RootCA
	{
	}
	declare UnixVLan
	{
		declare client
		{
			bool Enabled true
			string MacAddress 5E-28-88-5D-A5-49
		}
	}
}
